<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
  
  
    <h2>Owner Information</h2>
  
  
    <table class="table table-striped" th:object="${owner}">
      <tr>
        <th>Full </th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
      </tr>
      <tr>
        <th>Address</th>
        <td id="address" th:text="*{address}" /></td>
      </tr>
      <tr>
        <th>City</th>
        <td id="city" th:text="*{city}" /></td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td th:text="*{telephone}" /></td>
      </tr>
    </table>
     <a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default">Edit
      Owner</a>
    <a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-default">Add
      New Pet</a>
        
    <br />
    <br />
    <br />
    <br />
        <div id="map" style="position:absolute; width:50%; height:50%; background:grey" ></div>
    <br />
    <br />
    <br />
    <br />
   
    <br />
    <br />
    <br />
      <br />
    <br />
    <br />
    <br />
   
    <br />
    <br />
    <br />
      <br />
    <br />
    <br />
    <br />
   

    <br />
    <br />
    <br />
      <br />
    <br />
    <br />
    <br />
   
    <br />
    <br />
    <br />
    <h2>Pets and Visits</h2>
  
    <table class="table table-striped">
  
      <tr th:each="pet : ${owner.pets}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd th:text="${pet.name}" /></dd>
            <dt>Birth Date</dt>
            <dd
              th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}" /></dd>
            <dt>Type</dt>
            <dd th:text="${pet.type}" /></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Visit Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tr th:each="visit : ${pet.visits}">
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${visit?.description}"></td>
            </tr>
            <tr>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${owner.id},petId=${pet.id})}">Edit
                  Pet</a></td>
              <td><a
                th:href="@{../album/{petId}(petId=${pet.id})}">Album
                  Pet</a></td>
              <td><a
                th:href="@{{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}">Add
                  Visit</a></td>
                  
                  <!--comment-->
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
    <script  type="text/javascript" charset="UTF-8" >
    
        $( document ).ready(function() {
            
            
            function geocode(platform) {
                var address = $("#address").html() + $("#city").html();

                if(!address){
                    address = 'tuxtla gutierrez';
                }

                var geocoder = platform.getGeocodingService(),
                  geocodingParameters = {
                    searchText:address,
                    jsonattributes : 1
                  };

                geocoder.geocode(
                  geocodingParameters,
                  onSuccess,
                  onError
                );
            }
        /**
         * This function will be called once the Geocoder REST API provides a response
         * @param  {Object} result          A JSONP object representing the  location(s) found.
         *
         * see: http://developer.here.com/rest-apis/documentation/geocoder/topics/resource-type-response-geocode.html
         */
        function onSuccess(result) {
          var locations = result.response.view[0].result;
         /*
          * The styling of the geocoding response on the map is entirely under the developer's control.
          * A representitive styling can be found the full JS + HTML code of this example
          * in the functions below:
          */
          addLocationsToMap(locations);
          addLocationsToPanel(locations);
          // ... etc.
        }

        /**
         * This function will be called if a communication error occurs during the JSON-P request
         * @param  {Object} error  The error message received.
         */
        function onError(error) {
          alert('Ooops!');
        }




        /**
         * Boilerplate map initialization code starts below:
         */

        //Step 1: initialize communication with the platform
        var platform = new H.service.Platform({
          app_id: 'GIeq7iaQkY34UhsO0oFs',
          app_code: 'cR2QSaRgbv7irqomz7kCzg',
          useHTTPS: true
        });
        var pixelRatio = window.devicePixelRatio || 1;
        var defaultLayers = platform.createDefaultLayers({
          tileSize: pixelRatio === 1 ? 256 : 512,
          ppi: pixelRatio === 1 ? undefined : 320
        });

        //Step 2: initialize a map - this map is centered over California
        var map = new H.Map(document.getElementById('map'),
          defaultLayers.normal.map,{
          center: {lat:37.376, lng:-122.034},
          zoom: 15,
          pixelRatio: pixelRatio
        });

        var locationsContainer = document.getElementById('panel');

        //Step 3: make the map interactive
        // MapEvents enables the event system
        // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

        // Create the default UI components
        var ui = H.ui.UI.createDefault(map, defaultLayers);

        // Hold a reference to any infobubble opened
        var bubble;

        /**
         * Opens/Closes a infobubble
         * @param  {H.geo.Point} position     The location on the map.
         * @param  {String} text              The contents of the infobubble.
         */
        function openBubble(position, text){
         if(!bubble){
            bubble =  new H.ui.InfoBubble(
              position,
              {content: text});
            ui.addBubble(bubble);
          } else {
            bubble.setPosition(position);
            bubble.setContent(text);
            bubble.open();
          }
        }

        /**
         * Creates a series of list items for each location found, and adds it to the panel.
         * @param {Object[]} locations An array of locations as received from the
         *                             H.service.GeocodingService
         */


        /**
         * Creates a series of H.map.Markers for each location found, and adds it to the map.
         * @param {Object[]} locations An array of locations as received from the
         *                             H.service.GeocodingService
         */
        function addLocationsToMap(locations){
          var group = new  H.map.Group(),
            position,
            i;

          // Add a marker for each location found
          for (i = 0;  i < locations.length; i += 1) {
            position = {
              lat: locations[i].location.displayPosition.latitude,
              lng: locations[i].location.displayPosition.longitude
            };
            marker = new H.map.Marker(position);
            marker.label = locations[i].location.address.label;
            group.addObject(marker);
          }

          group.addEventListener('tap', function (evt) {
            map.setCenter(evt.target.getPosition());
            openBubble(
               evt.target.getPosition(), evt.target.label);
          }, false);

          // Add the locations group to the map
          map.addObject(group);
          map.setCenter(group.getBounds().getCenter());
        }

        // Now use the map as required...
        geocode(platform);
        });
        

  </script>
  </body>   

</html>
