<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'pets')}">

<body>
   <form th:action="@{/album/upload/}+ ${pet.id}" enctype="multipart/form-data"  class="form-horizontal" method="post">
        
        

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <span>Subir nueva imagen</span>
              <input type="file" name="file" class="form-control" />
            
          </div>
            <button class="btn btn-default" type="submit">Add image</button>
        </div>
  </form>
    
  <h2>Photos</h2>

  <table id="vets" class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>photo</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="image : ${pet.images}">
        <td th:text="${image.id}"></td>
        <td > <img src="http://localhost:8080/resources/images/pets.png" style="width:50px;height:50px;"> </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
